.dropdown__menu {
    width: 220px;
    position: absolute;
    top: 80px;
    right: 200px;
    list-style: none;
    text-align: start;
}

.dropdown__menu li {
    background: #5a3a63;
    cursor: pointer;
}

.dropdown__menu li:hover {
    background: #f44c4e;
}

.dropdown__menu.clicked {
    display: none;
}

.dropdown__link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}