/* .div__navbar {
    margin: 0;
    height: 5rem;
    background-color: #4d3154;
} */

.div__navbar {
    background: linear-gradient(90deg, #4d3154 0%, #3e1d46 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow:0px 0.1rem 0.2rem black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 950;
  }
  .menu__icon {
      display: none;
  }
  
  .navbar__logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    width: 15rem;
  }

  .navbar__logo img {
      width: 70%;
  }
  
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav__item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav__links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav__links:hover {
    color: #f44c4e;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav__links__mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav__menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav__menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav__links:hover {
        color: #f44c4e;
    }
  
    .navbar__logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, 80%);
    }
  
    .menu__icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav__links__mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #4d3154;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
    }
  
    .nav__links__mobile:hover {
      background: #fff;
      color: #f44c4e;
      transition: 250ms;
    }
  
    button {
      display: none;
    }
  }